body{
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875rem;
/*     transition: .3s ease all ;
 */}

.user{
   width: 2.4rem !important;
    background: gray;
    padding: 6px;
}
.btn-nuevo{
    margin-left: 1rem;
}
body.dark-mode i.fas.fa-home.casa {
  color: white;
}
i.fas.fa-home.casa{
    color: black;
}
.page-item.active .page-link{
    background-color: #1b547e;
    border-color: #1b547e;
}

.btn{
    font-size:0.875rem;
}
.card{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}
.btn-warning{
    background-color: #f3dc34;
    color: black;
}
.btn-warning:hover{
    background-color: #d3bc0c;
    color: black;
}
.headerRegister{
    background-color: #28a745;
    color: white;
}
.headerUpdate{
    background-color: #f3dc34;
    color: black;
}
.textcenter{
	text-align: center;
}
.textright{
	text-align: right;
}
.textleft{
	text-align: left;
}
/*Boton de permisos  */

.toggle.lg input[type="checkbox"] + .button-indecator:before {
    font-size: 30px;
  }
  
  .toggle input[type="checkbox"] {
    display: none;
  }
  
  .toggle input[type="checkbox"] + .button-indecator {
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .toggle input[type="checkbox"] + .button-indecator:before {
    content: "";
    font-family: "FontAwesome";
    /* speak: none; */
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-right: 5px;
    vertical-align: -2px;
  }
  
  .toggle input[type="checkbox"]:checked + .button-indecator:before {
    content: "";
    color: #009688;
    -webkit-animation: toggleBtn 0.3s ease-in-out;
            animation: toggleBtn 0.3s ease-in-out;
  }
  
  .toggle input[type="checkbox"]:disabled + .button-indecator {
    cursor: not-allowed !important;
  }
  
  .toggle input[type="checkbox"]:disabled + .button-indecator:before {
    color: #ccc;
  }
  
  .toggle-flip input[type="checkbox"] {
    display: none;
  }
  
  .toggle-flip input[type="checkbox"] + .flip-indecator {
    position: relative;
    width: 60px;
    height: 30px;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-perspective: 90px;
    perspective: 90px;
    font-weight: 600;
  }
  
  .toggle-flip input[type="checkbox"] + .flip-indecator:before, .toggle-flip input[type="checkbox"] + .flip-indecator:after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    line-height: 30px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .toggle-flip input[type="checkbox"] + .flip-indecator:before {
    content: attr(data-toggle-off);
    background-color: #ddd;
  }
  
  .toggle-flip input[type="checkbox"] + .flip-indecator:after {
    content: attr(data-toggle-on);
    background-color: #009688;
    color: #fff;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  
  .toggle-flip input[type="checkbox"]:checked + .flip-indecator:before {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .toggle-flip input[type="checkbox"]:checked + .flip-indecator:after {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  
  .toggle-flip input[type="checkbox"]:disabled + .flip-indecator {
    cursor: not-allowed !important;
    color: #ccc;
  }
  label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
}
body.dark-mode span.flip-indecator {
  color: black;
}
.preloader{
  /*background-color: #8da862;*/
  transition-property: height;
    transition-duration: .2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.header-primary{
  background-color: #17a2b8;
  color: #fff;
}
.boton-dark{
  margin-bottom: -1.2rem;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.imagenLogin{
  width: 20rem;
}
.material-half-bg .cover {
  background-color: #ffe72b;
  height: 50vh;
}
.botonLogin{
  background-color: #7eae33;
  border-color: #7eae33;
}
.linkLogin{
  color: #064f85;
}


/*Estilos login*/
#divLoadingTienda{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 /*  background: #81B031; */
  z-index: 9999;

}
#divLoading{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(254,254,255, .65);
  z-index: 9999;
  display: none;
}

#divLoading img{
  width: 150px;
  height: 150px;
}
.required{
  color: red;
  font-size: 13pt;
  font-weight: bold;
}
/*Full Calendario*/
body.dark-mode a.fc-col-header-cell-cushion {
  color: white;
}
a.fc-col-header-cell-cushion {
  color: black;
}
body.dark-mode .fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 4px;
  color: white;
}
.fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 4px;
  color: rgb(3, 0, 0);
}
body.dark-mode .fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(255,220,40,.15);
  background-color: var(--fc-today-bg-color,rgba(238, 255, 0, 0.445));
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(255,220,40,.15);
  background-color: var(--fc-today-bg-color,rgba(238, 255, 0, 0.445));
}
.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
  padding: 1px;
  font-weight: 600;
}
body.dark-mode a.fc-col-header-cell-cushion:hover {
  color: #ffe72b;
}
.dark-mode a:not(.btn):hover {
  color: #ffe72b;
}
body.dark-mode tr.fc-list-event.fc-event.fc-event-start.fc-event-end:hover {
  background-color: #009688;
  color: black;
}
body.dark-mode tbody tr.fc-list-event:hover{
  color: black;
}
body.dark-mode a{
  color: white;
}
.fc-popover-body,.fc-popover-header {
  background-color: cornflowerblue;
}
.fc-popover-body div a {
  color: black;
}
.fc-popover-header span{
  color: black;
}
.prevPhoto {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 200px;
  border: 1px solid #CCC;
  position: relative;
  cursor: pointer;
  background: url(../images/uploads/portada_categoria.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
}
.prevPhoto label{
cursor: pointer;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 2;
}
.prevPhoto img{
width: 100%;
height: 100%;
}
.upimg, .notBlock{
display: none !important;
}
.errorArchivo{
font-size: 16px;
font-family: arial;
color: #cc0000;
text-align: center;
font-weight: bold; 
margin-top: 10px;
}
.delPhoto{
color: #FFF;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
width: 25px;
height: 25px;
background: red;
position: absolute;
right: -10px;
top: -10px;
z-index: 10;
}
#tbl_list_productos img{
width: 50px;
}
.imgProductoDelete{
width: 175px;
}
#imgCategoria{
  text-align: center;
}
#imgCategoria img{
  width: 200px;
  margin: auto;
}
.bootstrap-select > .dropdown-toggle{
	border: 1px solid #CCC;
 
}
body.dark-mode .bootstrap-select > .dropdown-toggle{
	border: 1px solid #CCC;
  background-color: #454d55;
  color: white;
}
/*Imagenes Productos */
#containerImage{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  
}
/*Dispositivos menores a 720px*/
@media (max-width:720px){
  #containerImage{justify-content: space-between;}
}
#containerImage > div{
  margin-right: 10px;
  margin-bottom: 8px;
}
.prevImage{
  border: 1px solid #CCC;
  width: 120px;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prevImage img{
  width: 100%;
}
.inputUploadfile{
  display: none;
}
.btnDeleteImage, .btnUploadfile{
  border: 0;
  background-color: #009688;
  text-align: center;
  padding: 2px 3px;
  color: #FFF;
  font-size: 9pt;
  cursor:pointer;
  width: 100%;
}
.btnDeleteImage{
  background-color: #dc3545;
}
.prevImage .loading{
  width: 80px;
  height: 80px;
}
#celFotos img{
	width: 150px;
	margin: 10px;
}
.block1-txt:hover {
  background-color: rgb(129 176 49 / 80%);
}
.hov-btn1:hover {
  border-color: #055488;
  background-color: #055488;
  color: #fff;
}
/* .top-bar {

  background-color: #075289;
}
.left-top-bar {

  color: whitesmoke;
}
.right-top-bar a {
 
  color: whitesmoke;
}
.fix-menu-desktop .wrap-menu-desktop{
  background-color: #ffe72b;
 
}  */

.header-categoria {
  position: fixed;
    z-index: 1100;
    width: 390px;
    max-width: calc(100% - 30px);
    height: 100vh;
    top: 0;
    left: -400px;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.34;
    transition: all 0.4s;
    box-shadow: 0 3px 6px 0px rgb(0 0 0 / 18%);
    -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 3px 6px 0px rgb(0 0 0 / 18%);
    -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
} 
.show-header-cart .header-categoria {
  left: 0;
}
.header-categoria .header-cart-item-img:hover {
 /*  -webkit-transform: scale(1.5);
  transform: scale(10.5); */
  -moz-transform: scale(1.5) translate(-5px, 5px);
-webkit-transform: scale(1.5) translate(-5px, 5px);
-o-transform: scale(1.5) translate(-5px, 5px);
-ms-transform: scale(1.5) translate(-5px, 5px);
transform: scale(1.5) translate(-5px, 5px);
  transition: ease 1s;
  
}
.header-categoria .header-cart-item-img::after {
  content: '';
}

.header-categoria  .header-cart-item-img:hover:after {
  opacity: 0;
  
} 
#header-cate .ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
  left: 0px;
}
.header-categoria .header-cart-item-name {
  font-size: 18px;
}
.header-categoria .header-cart-title {
  width: 330px;

}
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}
.swal2-popup.swal2-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
.colored-toast .swal2-header .swal2-title{
    padding-top:0 ;
}
.colored-toast.swal2-icon-info {
  /* background-color: #3fc3ee !important; */
    background-color: #055488 !important;
}
.divmetodpago label{
  width: 100%;
  display: flex;
}
.divmetodpago label input{
  margin-right: 15px;
}