body{
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875rem;
/*     transition: .3s ease all ;
 */}

.user{
   width: 45px !important;
    background: gray;
    padding: 6px;
}
.btn-nuevo{
    margin-left: 1rem;
}
body.dark-mode i.fas.fa-home.casa {
  color: white;
}
i.fas.fa-home.casa{
    color: black;
}
.page-item.active .page-link{
    background-color: #1b547e;
    border-color: #1b547e;
}

.btn{
    font-size:0.875rem;
}
.card{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}
.btn-warning{
    background-color: #f3dc34;
    color: black;
}
.btn-warning:hover{
    background-color: #d3bc0c;
    color: black;
}
.headerRegister{
    background-color: #28a745;
    color: white;
}
.headerUpdate{
    background-color: #f3dc34;
    color: black;
}
.notBlock{
    display: none;
}
/*Boton de permisos  */

.toggle.lg input[type="checkbox"] + .button-indecator:before {
    font-size: 30px;
  }
  
  .toggle input[type="checkbox"] {
    display: none;
  }
  
  .toggle input[type="checkbox"] + .button-indecator {
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .toggle input[type="checkbox"] + .button-indecator:before {
    content: "";
    font-family: "FontAwesome";
    /* speak: none; */
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-right: 5px;
    vertical-align: -2px;
  }
  
  .toggle input[type="checkbox"]:checked + .button-indecator:before {
    content: "";
    color: #009688;
    -webkit-animation: toggleBtn 0.3s ease-in-out;
            animation: toggleBtn 0.3s ease-in-out;
  }
  
  .toggle input[type="checkbox"]:disabled + .button-indecator {
    cursor: not-allowed !important;
  }
  
  .toggle input[type="checkbox"]:disabled + .button-indecator:before {
    color: #ccc;
  }
  
  .toggle-flip input[type="checkbox"] {
    display: none;
  }
  
  .toggle-flip input[type="checkbox"] + .flip-indecator {
    position: relative;
    width: 60px;
    height: 30px;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-perspective: 90px;
    perspective: 90px;
    font-weight: 600;
  }
  
  .toggle-flip input[type="checkbox"] + .flip-indecator:before, .toggle-flip input[type="checkbox"] + .flip-indecator:after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    line-height: 30px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .toggle-flip input[type="checkbox"] + .flip-indecator:before {
    content: attr(data-toggle-off);
    background-color: #ddd;
  }
  
  .toggle-flip input[type="checkbox"] + .flip-indecator:after {
    content: attr(data-toggle-on);
    background-color: #009688;
    color: #fff;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  
  .toggle-flip input[type="checkbox"]:checked + .flip-indecator:before {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .toggle-flip input[type="checkbox"]:checked + .flip-indecator:after {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  
  .toggle-flip input[type="checkbox"]:disabled + .flip-indecator {
    cursor: not-allowed !important;
    color: #ccc;
  }
  label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
}
body.dark-mode span.flip-indecator {
  color: black;
}
.preloader{
  /*background-color: #8da862;*/
  transition-property: height;
    transition-duration: .2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.header-primary{
  background-color: #17a2b8;
  color: #fff;
}
.boton-dark{
  margin-bottom: -1.2rem;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.imagenLogin{
  width: 20rem;
}
.material-half-bg .cover {
  background-color: #ffe72b;
  height: 50vh;
}
.botonLogin{
  background-color: #7eae33;
  border-color: #7eae33;
}
.linkLogin{
  color: #064f85;
}


/*Estilos login*/
#divLoading{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(254,254,255, .65);
  z-index: 1;
  display: none;
}

#divLoading img{
  width: 50px;
  height: 50px;
}
.required{
  color: red;
  font-size: 13pt;
  font-weight: bold;
}
=======
body.dark-mode a.fc-col-header-cell-cushion {
  color: white;
}
a.fc-col-header-cell-cushion {
  color: black;
}
body.dark-mode .fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 4px;
  color: white;
}
.fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 4px;
  color: rgb(3, 0, 0);
}
body.dark-mode .fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(255,220,40,.15);
  background-color: var(--fc-today-bg-color,rgba(238, 255, 0, 0.445));
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(255,220,40,.15);
  background-color: var(--fc-today-bg-color,rgba(238, 255, 0, 0.445));
}

